# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.env

# Distribution files
dist/
build/
*.egg-info/

# IDE and editor specific files
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3

# Test outputs
*.coverage
.coverage.*
.cache/
nosetests.xml
junit*.xml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
*.spec

# mypy and pylint
.mypy_cache/
.pyre/
.pytype/
.pylint.d/

# Coverage reports
htmlcov/
coverage.xml

# Temporary files
*.tmp
*.bak
*.old
*.orig
*.save

# Docker
*.pid

# Node modules
node_modules/